.navbar {
    background:#2D4356;
 background: linear-gradient(90deg, #2D4356 0%, #2D4356 51%, #2D4356);
     font-weight: bold;
     font-size: large;
     font-family: 'Caprasimo', cursive;
 font-family: 'Lobster', cursive;
 
 }
.form-area{
    padding-top: 7% ;

}
.row.single-form{
    box-shadow: 0 12px 40px -5px  rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 1px solid red;
}
.left{
    background-color: #bd6363;
    padding: 200px 98px;
}
.left h2{
    font-family: 'Caprasimo', cursive;
    font-family: 'Lobster', cursive;
    color: #2D4356;
    font-weight: 700 ;
    font-size: 38px;
}
.left h2 span{
    font-weight: 100;
}
.right{
    padding: 70px 100px;
    position: relative;
}
.right i
{
    position: absolute;
    font-size: 80px;
    left: -22px;
    top: 25vh;
    color: #fff;

}
.form-control{
    border: 2px solid #bd6363;
}
.right button{
    border: none;
    border-radius: 10;
    background:#252525 ;
    width: 180px;
    color: #ffff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
@media (min-width:696px) and (max-width:770px){
    .right i{
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}
@media (min-width:768px) and (max-width:991px){
    .right i{
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}
@media (min-width:696px) and (max-width:770px){
    .right i{
        top: -50px;
        transform: rotate(90deg);
        left: 50%;
    }
}
@media (min-width:690px) and (max-width:696px){
    .right i{
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}

